{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password243" %}{% endblock %}

{% block content %}
    <main>
        <!--Section: Products v.3-->
        <section class="mb-4 mt-4">
            <!--Grid row-->
            <div class="row wow fadeIn">
                <div class="col-lg-8 m-auto">
                    <h1 class="text-center mb-4">{% trans "Change Password" %}</h1>
                    <h3 class='text-center'>
                        Your password is now changed. You can <a href="{% url 'account_login' %}">sign in</a> now.
                    </h3>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
