{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password 234" %}{% endblock %}

{% block content %}
    <main>
        <!--Section: Products v.3-->
        <section class="mb-4 mt-4">
            <!--Grid row-->
            <div class="row wow fadeIn">
                <div class="col-lg-6 m-auto">
                    <h1 class="text-center mb-4">
                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h1>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                        </p>
                    {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-success" name="action" value="{% trans 'change password' %}"/>
                    </form>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
