{% extends "_base.html" %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
	<section class="section-content padding-y bg">
		<div class="container">
			<div class="card">
				<div class="row no-gutters">
					<aside class="col-md-6">
					<article class="gallery-wrap">
						<div class="img-big-wrap">
						<a href="#"><img src="{{ product.image.url }}" /></a>
						</div>
					</article>
					</aside>
					<main class="col-md-6 border-left">
						<form method="POST" action="{% url 'cart:add_to_cart' product.slug %}">
							{% csrf_token %}
							<article class="content-body">
								<h2 class="title">{{ product.name }}</h2>

								<div class="mb-3">
									{% if product.discount_price %}
										<del class="price-old h4">${{ product.original_price }}</del>
										<var class="price h4">${{ product.discount_price }}</var>
									{% else %}
										<var class="price h4">${{ product.original_price }}</var>
									{% endif %}
								</div>

								<p>{{ product.description|safe }}</p>

								<hr />
								<div class="row">
									<div class="item-option-select">
										<h6>Choose Color</h6>
										<select class="form-control" name="color" required>
											<option value="" disabled selected>Select</option>
											{% for color in product.variation_set.colors %}
												<option value="{{ color.value|lower }}">{{ color.value|title }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<!-- row.// -->
								<div class="row">
									<div class="item-option-select">
										<h6>Choose Size</h6>
										<select class="form-control" name="size" required>
											<option value="" disabled selected>Select</option>
											{% for size in product.variation_set.sizes %}
												<option value="{{ size.value|lower }}">{{ size.value|title }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<hr />
								{% if product.stock <= 0 %}
									<h5 class="text-danger">Out of Stock</h5>
								{% comment %} {% elif in_cart %}
									<a href="#" class="btn btn-success mr-2">
										<span class="text">Added to cart</span>
										<i class="fas fa-check"></i>
									</a>
									<a href="{% url 'cart:cart' %}" class="btn btn-outline-primary">
										<span class="text">View Cart</span>
										<i class="fas fa-eye"></i>
									</a> {% endcomment %}
								{% else %}
									<button type="submit" class="btn btn-primary">
										<span class="text">Add to cart</span>
										<i class="fas fa-shopping-cart"></i>
									</button>
								{% endif %}
							</article>
						</form>
					</main>
				</div>
			</div>
			<br />

			<div class="row">
			<div class="col-md-9">
				<header class="section-heading">
				<h3>Customer Reviews</h3>
				</header>

				<article class="box mb-3">
				<div class="icontext w-100">
					<img
					src="./images/avatars/avatar1.jpg"
					class="img-xs icon rounded-circle"
					/>
					<div class="text">
					<span class="date text-muted float-md-right">24.04.2020 </span>
					<h6 class="mb-1">Mike John</h6>
					</div>
				</div>
				<!-- icontext.// -->
				<div class="mt-3">
					<p>
					Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing
					elit, sed do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut aliquip
					</p>
				</div>
				</article>
			</div>
			</div>
		</div>
	</section>
{% endblock content %}

